body{
    background-color: #0f0f0f;
    font-family: Arial,sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
}

.box {
    flex: 1 0 calc(33.33% - 20px);
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.videoimg { 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    background-size: cover;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;
    aspect-ratio: 16/9;
    
}

.videoimg1 {
    background-image: url(Img/jio.webp);
}

.videoimg2 {
    background-image: url(Img/aha.webp );
}

.videoimg3 {
    background-image: url('Img/kanguva.webp');
}
.videoimg4 { background-image: url('Img/irfan.jpg'); }
.videoimg5 { background-image: url('Img/vj\ siddhu.jpg'); }
.videoimg6 { background-image: url('Img/error\ makes.jpg'); }

.imgbg {
    margin-bottom: auto;
    flex-direction: column;
    gap: 10px;
    display: none;
}

.time{
     /* background-color: rgba(0, 0, 0, 0.6); */
    color: white;
    padding: px;
    border-radius: 3px;
    font-size: 12px;
    /* font-weight: bold; */
}
.runtime{
    background-color: rgba(0, 0, 0, 0.6);
    color:#fff;
    padding: 5px;
    font-size: 12px;
    border-radius: 3px;
}
.imgbg i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    color: white;
}

.videoimg:hover .imgbg {
    display: flex;
}



.video-details {
    margin-top: 10px;
    display: flex;
    gap:8px;
    
}

.video-title {
    margin: 0px;
    font-size: 16px;
    max-width: 100%;
    cursor: pointer;
    color:#fff
    
}

.video-details img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    /* margin-right: 20px; */
}

.info{
     
    
    font-size: 14px;
    margin:4px 0 ;
    line-height: 1.4;
    padding-left: 40px;
    color:rgb(170,170,170); 
}


@media (max-width: 1024px) {
    .video-card {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .video-card {
        flex: 1 1 calc(100% - 20px);
    }
}
